<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编程测试工具</title>
</head>
<body>
    <table>
        <tr>
            <td><a href="{{ url_for('order_V2.orderV2PackgeHtml') }}" rel="external nofollow" >CRM后台导入V2商品订单（order）</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('tools_csv.csvAveragePackgeHtml') }}" rel="external nofollow" >切分CSV文件</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('stress_jenkins.jenkinsHtml') }}" rel="external nofollow" >压测环境启动</a></td>
        </tr>
    </table>
</body>
</html>